* {
  margin: 0rem;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothig: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/fundo.svg.jpg);
  width: 310px;
  height: 675px;
}

.container {
  color: antiquewhite;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 3rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: 3rem;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  margin: 5rem auto 0;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  color: antiquewhite;
  font-size: 1.75rem;
}

a {
  color: crimson;
  text-decoration: none;

  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

p {
  margin-top: 5rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
